        body {
            padding: 10px 50px;
            background-color: #b2b3ad;
        }

        .h1 {
            text-align: center;
            border: 2px solid;
            box-shadow: 2px 1px 3px 4px;
            font-size: 50px;
        }

        .h1:hover {
            background-color: #3d780c;
        }

        .h3 {
            font-size: 35px;
            text-align: center;
            color: #0876bf;
        }

        .formdesign {
            font-size: 20px;

        }

        .formdesign input {
            width: 80%;
            padding: 12px 20px;
            border: 1px solid blue;
            margin: 14px;
            border-radius: 4px;
            font-size: 15px;
            align-content: center;
        }
        .formdesign:hover {

        }

        .formerror {
            color: red;
        }

        .but {
            border-radius: 9px;
            width: 100px;
            height: 50px;
            font-size: 25px;
            margin: 22px 20px;
        }

        .but:hover {
            background-color: #60615c;
            cursor: pointer;
        }
        

    @media only screen and (max-width: 1274px) {

    .but:hover {
            background-color: #60615c;
            cursor: pointer;
        }

    }

